/* Header.css */
header {
    background-color: #333;
    padding: 1rem;
  }
  
  header nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
  }
  
  header nav ul li a {
    color: white;
    text-decoration: none;
  }
  